Repository monokotech/EasyRPG-Multiplayer-Native, changes with the labels that .github/labeler.yml gives for each.
All labels: Building, Documentation, Tests, Window/Scenes, Audio, FileFinder, Fonts, MIDI, 3DS, Android, Emscripten, libretro, macOS, PSVita, Switch, Wii, WiiU, Win32

.github/labeler.yml:

#
# See https://github.com/actions/labeler
# and workflows/pr_labels.yml for reference
#

Building:
- changed-files:
  - any-glob-to-any-file:
    - .github/**
    - CMakeLists.txt
    - builds/**
    - '!builds/android/app/**'
    - Makefile.am
    - configure.ac

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - '**/*.md'
    - '**/*.adoc'
    - src/docmain.h
    - '**/Doxyfile*'
    - resources/unix/*.metainfo.xml

Tests:
- changed-files:
  - any-glob-to-any-file: [ tests/** ]

Window/Scenes:
- changed-files:
  - any-glob-to-any-file: [ src/**/window_*, src/**/scene_* ]

# misc

Audio:
- changed-files:
  - any-glob-to-any-file: [ src/**/*audio* ]

FileFinder:
- changed-files:
  - any-glob-to-any-file: [ src/**/filefinder*, src/**/filesystem* ]

Fonts:
- changed-files:
  - any-glob-to-any-file:
    - resources/exfont.png
    - resources/ttyp0/**
    - resources/shinonome/**
    - resources/wenquanyi/**
    - src/**/*font*
    - src/generated/bitmapfont_*

MIDI:
- changed-files:
  - any-glob-to-any-file: [ src/**/*midi* ]

# platforms

3DS:
- changed-files:
  - any-glob-to-any-file: [ src/platform/3ds/**, resources/3ds/** ]

Android:
- changed-files:
  - any-glob-to-any-file: [ src/platform/android/**, builds/android/app/** ]

Emscripten:
- changed-files:
  - any-glob-to-any-file: [ src/platform/emscripten/**, resources/emscripten/** ]

libretro:
- changed-files:
  - any-glob-to-any-file: [ src/platform/libretro/** ]

macOS:
- changed-files:
  - any-glob-to-any-file: [ src/platform/macos/**, resources/macos/** ]

PSVita:
- changed-files:
  - any-glob-to-any-file: [ src/platform/psvita/**, resources/psvita/** ]

Switch:
- changed-files:
  - any-glob-to-any-file: [ src/platform/switch/**, resources/switch/** ]

Wii:
- changed-files:
  - any-glob-to-any-file: [ src/platform/wii/**, resources/wii/** ]

WiiU:
- changed-files:
  - any-glob-to-any-file: [ src/platform/wiiu/**, resources/wiiu/** ]

Win32:
- changed-files:
  - any-glob-to-any-file: [ src/platform/windows/**, resources/windows/** ]

EPMP: WebPlayer buttons & Android buttons
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/ButtonMappingActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/VirtualButton.java
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/res/values/strings.xml
  resources/emscripten/emscripten-shell.html
  src/input_buttons.h
  src/input_buttons_desktop.cpp
  src/multiplayer/chatui.cpp
Labels: Building, Android, Emscripten

test
  .github/workflows/cross-platform-compilation.yml
Labels: Building

fix build
  src/multiplayer/messages.h
Labels: Building

EPMP: ChatUi: Code style fixes
  src/multiplayer/chatui.cpp
Labels: Building

EPMP: Improve ChatUi
  src/game_config.cpp
  src/game_config.h
  src/multiplayer/chatui.cpp
  src/multiplayer/chatui.h
  src/player.cpp
  src/transition.cpp
Labels: Building

EPMP: Improve Async_Handler, ChatUi, and emscripten-shell.html
  CMakeLists.txt
  resources/emscripten/emscripten-library.js
  resources/emscripten/emscripten-shell.html
  src/async_handler.cpp
  src/multiplayer/chatui.cpp
  src/multiplayer/chatui.h
Labels: Building, Emscripten

EPMP: Multiplayer and Player changes
  src/game_config.cpp
  src/game_config.h
  src/multiplayer/chatui.cpp
  src/multiplayer/game_multiplayer.cpp
  src/multiplayer/game_multiplayer.h
  src/multiplayer/game_playerother.h
  src/multiplayer/playerother.cpp
  src/multiplayer/playerother.h
  src/platform/sdl/sdl2_ui.cpp
Labels: Building

EPMP: Multiplayer and Player changes
  src/game_config.cpp
  src/game_config.h
  src/multiplayer/chatui.cpp
  src/multiplayer/game_multiplayer.cpp
  src/multiplayer/game_multiplayer.h
  src/multiplayer/game_playerother.h
  src/multiplayer/playerother.cpp
  src/multiplayer/playerother.h
  src/multiplayer/server.cpp
  src/platform/sdl/sdl2_ui.cpp
Labels: Building

EPMP: Fix socket crash
  src/multiplayer/server.cpp
  src/multiplayer/socket.cpp
  src/multiplayer/socket.h
Labels: Building

EPMP: Fix libuv crash caused by early pointer deletion
  src/multiplayer/server.cpp
  src/multiplayer/socket.cpp
  src/multiplayer/socket.h
Labels: Building

EPMP: Fix server & Change server license
  docs/LICENSE-EPMP.txt
  src/multiplayer/server.cpp
  src/multiplayer/server.h
Labels: Building, Documentation
